<div class="text-center mt-5">
  <%= image_tag('misc/favicon.png', style: 'max-width:400px; height:400px', class: 'card-img-top', alt: "tedorha_image") %>
  
  <div class="card text-center mx-auto" style="border: 2px solid #000; box-shadow: 5px 5px 10px #888888; padding: 30px; height: 400px; width: 400px">
    <h2 class="mb-3">Sign up</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em class="text-muted small">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :confirm_Password %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions mb-3 mt-3">
        <%= f.submit "Sign Up", class:"btn btn-outline-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
