<div class="card text-left mt-5 mx-auto" style=" border: 2px solid #000; box-shadow: 5px 5px 10px #888888; padding: 20px; height: 1000px; width: 500px; margin-right: 20px; position: relative;">
  <%= form_with(model: @character, local: true) do |form| %>
    <% if @character.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@character.errors.count, 'error') %> prohibited this character from being saved:</h2>
        <ul>
          <% @character.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      
    <img id="raceImagePreview" src="#" alt="Race Image Preview" style='max-width:100%; height:auto; border: 5px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 20px;'>
    
    <div class="field" style="margin-bottom: 20px;">
      <%= form.text_field :character_name, class: 'form-control character-name-field', placeholder: 'Character name' %>
    </div>
    
    <div class="field" style="margin-bottom: 20px;">
      <%= form.label :"gender: " %>
      <%= form.select :gender, ['male', 'female'].map { |g| [g.capitalize, g] }, { class: 'form-control', id: 'character_gender' } %>
    </div>

    <div class="field mt-2" >
      <%= form.label :"race: " %>
      <%= form.select :race, ['human', 'elf', 'dwarf', 'troll', 'orc', 'goblin'].map { |r| [r.capitalize, r] }, { class: 'form-control', id: 'character_race' } %>
    </div>
    <p class ="mt-2 mb-5" id="raceDescription" style="height: auto; overflow-y: auto;"></p>

    <div class="field mt-2">
      <%= form.label :"class: " %>
       <%= form.select :character_class, ['warrior', 'mage', 'rogue', 'paladin'].map { |c| [c.capitalize, c] }, { class: 'form-control', id: 'character_class' } %>
    </div>
    <p class ="mt-2 mb-5" id="classDescription" style="height: 100px; overflow-y: auto;"></p>

    <div class="actions" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); margin-bottom: 10px; ">
      <%= form.submit 'Create', class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>


<script>
$(document).ready(function() {
  var imagePreview = $('#raceImagePreview');
  var raceDescription = $('#raceDescription');
  var classDescription = $('#classDescription');

  // Function to update race image and description
  function updateRaceImage(selectedRace, selectedGender) {
    var imageFileName;

    switch (selectedRace) {
      case 'human':
        imageFileName = selectedGender === 'female' ? 'female_human.jpg' : 'human.jpg';
        break;
      case 'elf':
        imageFileName = selectedGender === 'female' ? 'female_elf.jpg' : 'elf.jpg';
        break;
      case 'dwarf':
        imageFileName = selectedGender === 'female' ? 'female_dwarf.jpg' : 'dwarf.jpg';
        break;
      case 'troll':
        imageFileName = selectedGender === 'female' ? 'female_troll.jpg' : 'troll.jpg';
        break;
      case 'orc':
        imageFileName = selectedGender === 'female' ? 'female_orc.jpg' : 'orc.jpg';
        break;
      case 'goblin':
        imageFileName = selectedGender === 'female' ? 'female_goblin.jpg' : 'goblin.jpg';
        break;
      default:
        imageFileName = 'human.jpg';
    }

    var imagePath = '/assets/races/' + imageFileName;

    // Update the image preview and description based on the selected race
    imagePreview.attr('src', imagePath);

    switch(selectedRace) {
      case 'human':
        raceDescription.text('The versatile humans known for their adaptability. Humans are agile and can show remarkable resilience.');
        break;
      case 'elf':
        raceDescription.text('Graceful beings with a strong connection to magic. Wisdom and knowledge are what they seek above all.');
        break;
      case 'dwarf':
        raceDescription.text('Durable and loyal, Dwarfs are willing to give their life to save another. Their tumultuous temperament often leads them to take on unreasonable fights.');
        break;
      case 'troll':
        raceDescription.text('Trolls are peaceful and avoid combat as much as possible, however do not underestimate them, as they proved to be incredible warriors in the past.');
        break;
      case 'orc':
        raceDescription.text('Fierce, brutal and with a strong sense of honor, Orcs are known to destroy anything in their path if it means the survival of their race.');
        break;
      case 'goblin':
        raceDescription.text('Quick and cunning, Goblins have been under the protection of Orcs for centuries, in exchange for being the most effective war advisors.');
        break;
      default:
        raceDescription.text('The versatile humans known for their adaptability. Humans are agile and can show remarkable resilience.');
    }
  }

  // Set initial values based on the default values in the form
  var initialRace = $('#character_race').val() || 'human';
  var initialGender = $('#character_gender').val() || 'male';
  updateRaceImage(initialRace, initialGender);

  // Function to update class description
  function updateClassDescription(selectedClass) {
    // Update the description based on the selected class
    switch(selectedClass) {
      case 'warrior':
        classDescription.text('Specialists of physical strength, Warriors are battlemasters ready to take on the mightiest foes.');
        break;
      case 'mage':
        classDescription.text('Users of powerful arcane magic. The more a mage can learn, the stronger they get.');
        break;
      case 'rogue':
        classDescription.text('Masters of combat, they easily find their target weaknesses to exploit them at their advantage.');
        break;
      case 'paladin':
        classDescription.text('Holy warriors dedicated to justice. Their sheer will alone can vanquish the sinners.');
        break;
      default:
        classDescription.text('Specialists of physical strength, Warriors are battlemasters ready to take on the mightiest foes.');
    }
  }

  // Call updateClassDescription after defining the function
  var initialClass = $('#character_character_class').val() || 'warrior';
  updateClassDescription(initialClass);

  // Event listeners for changes in race, gender, and class
  $('#character_race, #character_gender').change(function() {
    var selectedRace = $('#character_race').val();
    var selectedGender = $('#character_gender').val();
    updateRaceImage(selectedRace, selectedGender);
  });

  $('#character_character_class').change(function() {
    var selectedClass = $('#character_character_class').val();
    updateClassDescription(selectedClass);
  });
});
</script>