<div class="card text-left" style="border: 2px solid #000; padding: 30px; max-height: auto; max-width: 500px; margin-right: 20px; position: relative;">
  <%= form_with(model: @character, local: true) do |form| %>
    <% if @character.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@character.errors.count, 'error') %> prohibited this character from being saved:</h2>
        <ul>
          <% @character.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      
    <img id="raceImagePreview" src="#" alt="Race Image Preview" style="width: 100%; height: auto; border-radius: 30%; margin-bottom: 30px; box-shadow: 5px 5px 10px #888888;">
    
    <div class="field" style="margin-bottom: 20px;">
      <%= form.text_field :character_name, class: 'form-control character-name-field', placeholder: 'Character Name' %>
    </div>
    
    <div class="field">
      <%= form.label :race %>
      <%= form.select :race, ['human', 'elf', 'dwarf', 'orc'], class: 'form-control' %>
    </div>  
    <p id="raceDescription" style="height: 100px; overflow-y: auto;"></p>

    <div class="field">
      <%= form.label :character_class %>
      <%= form.select :character_class, ['warrior', 'mage', 'rogue', 'paladin'], class: 'form-control' %>
    </div>
    <p id="classDescription" style="height: 100px; overflow-y: auto;"></p>

    <div class="actions" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); margin-bottom: 10px; ">
      <%= form.submit 'Create Character', class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>


<script>
$(document).ready(function() {
  var imagePreview = $('#raceImagePreview');
  var raceDescription = $('#raceDescription');
  var classDescription = $('#classDescription');

  // Set the initial image preview and description to the human race
  imagePreview.attr('src', '<%= asset_path("races/human.jpg") %>'); // Use asset_path here
  raceDescription.text('A versatile race known for their adaptability. Humans are capable and willing.');
  classDescription.text('Masters of combat and physical strength, Warriors are the first to answer the call to war.');

  $('#character_race').change(function() {
    var selectedRace = $(this).val();

    // Update the image preview and description based on the selected race
    switch(selectedRace) {
      case 'human':
        imagePreview.attr('src', '<%= asset_path("races/human.jpg") %>'); // Use asset_path here
        raceDescription.text('A versatile race known for their adaptability. Humans are capable and willing.');
        break;
      case 'elf':
        imagePreview.attr('src', '<%= asset_path("races/elf.jpg") %>'); // Use asset_path here
        raceDescription.text('Graceful beings with a strong connection to nature. Their wisdom and infinite knowledge is what strikes fear in their opponents.');
        break;
      case 'dwarf':
        imagePreview.attr('src', '<%= asset_path("races/dwarf.jpg") %>'); // Use asset_path here
        raceDescription.text('Resilient and skilled warriors, Dwarfs are durable and loyal.');
        break;
      case 'orc':
        imagePreview.attr('src', '<%= asset_path("races/orc.jpg") %>'); // Use asset_path here
        raceDescription.text('Fierce, with a strong sense of honor, Orcs are known to destroy anything on their path if it means the survival of their race.');
        break;
      default:
        imagePreview.attr('src', '#');
        raceDescription.text('');
    }
  });

    $('#character_class').change(function() {
      var selectedClass = $(this).val();

      // Update the description based on the selected class
      switch(selectedClass) {
        case 'warrior':
          classDescription.text('Masters of combat and physical strength, Warriors are the first to answer the call to war.');
          break;
        case 'mage':
          classDescription.text('Users of powerful arcane magic. The more a mage can learn, the stronger he gets.');
          break;
        case 'rogue':
          classDescription.text('Stealthy and skilled in subterfuge. They often easily find their target weaknesses.');
          break;
        case 'paladin':
          classDescription.text('Holy warriors dedicated to justice and the protection of their allies.');
          break;
        default:
          classDescription.text('');
      }
    });
  });
</script>