<div class="card text-left mt-5 mx-auto" style="border: 2px solid #000; box-shadow: 5px 5px 10px #888888; padding: 20px; height: 1000px; width: 500px; margin-right: 20px; position: relative;">
  <%= form_with(model: @character, local: true) do |form| %>
    <% if @character.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@character.errors.count, 'error') %> prohibited this character from being saved:</h2>
        <ul>
          <% @character.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      
    <img id="raceImagePreview" src="#" alt="Race Image Preview" style="max-width:100%; height:auto; border: 5px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 20px;">
    
    <div class="field">
      <%= form.text_field :character_name, class: 'form-control character-name-field', placeholder: 'Character name', style: 'text-align: center; font-size: 20px;' %>
    </div>
    
    <div class="field mt-3 mb-3" style="text-align: center;">
      <label class="mb-2"><strong>Gender</strong></label>
      <div>
        <%= form.hidden_field :gender, id: 'selectedGender' %>
        <input type="hidden" id="gender" name="gender" value="male" />
        <button type="button" style="width: 40px; height: 40px; margin-right: 25px;" id="maleButton">♂</button>
        <button type="button" style="width: 40px; height: 40px;" id="femaleButton">♀</button>
      </div>
    </div>

    <div class="field mt-3" style="text-align: center;">
      <label class="mb-2"><strong>Race</strong></label>
      <div>
        <%= form.hidden_field :race, id: 'selectedRace' %>
        <button type="button" id="prevRace">&lt;</button>
        <span id="raceDisplay" style="display: inline-block; width: 100px; text-align: center;">Human</span>
        <button type="button" id="nextRace">&gt;</button>
      </div>
    </div>
    <p class="mb-3 mt-2" id="raceDescription" style="height: 50px; overflow-y: auto; text-align: center;"></p>

    <div class="field " style="text-align: center;">
      <label class="mb-2"><strong>Class</strong></label>
      <div>
        <%= form.hidden_field :character_class, id: 'selectedClass' %>
        <button type="button" id="prevClass">&lt;</button>
        <span id="classDisplay" style="display: inline-block; width: 100px; text-align: center;">Warrior</span>
        <button type="button" id="nextClass">&gt;</button>
      </div>
    </div>
    <p class="mb-3 mt-2" id="classDescription" style="height: 50px; overflow-y: auto; text-align: center;"></p>

    <div class="actions" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); margin-bottom: 10px;">
      <%= form.submit 'Create', class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>

<script>
  var audio = document.getElementById("backgroundMusic");
  audio.volume = 0.01;
</script>

<script>
  $(document).ready(function() {
    var imagePreview = $('#raceImagePreview');
    var raceDescription = $('#raceDescription');
    var classDescription = $('#classDescription');
    var races = ['human', 'elf', 'dwarf', 'troll', 'orc', 'goblin', 'morvandir'];
    var classes = ['warrior', 'mage', 'rogue', 'paladin', 'deathwalker', 'warlock'];
    var currentRaceIndex = 0;
    var currentClassIndex = 0;
    var selectedRace = 'human'
    $('#selectedRace').val(selectedRace);
    var selectedGender = 'male'
    $('#selectedGender').val(selectedGender);
    var selectedClass = 'warrior'
    $('#selectedClass').val(selectedClass);

    function updateRaceImage(selectedRace, selectedGender) {
      var imageFileName;

      switch (selectedRace) {
        case 'human':
          imageFileName = selectedGender === 'female' ? 'female_human.jpg' : 'human.jpg';
          break;
        case 'elf':
          imageFileName = selectedGender === 'female' ? 'female_elf.jpg' : 'elf.jpg';
          break;
        case 'dwarf':
          imageFileName = selectedGender === 'female' ? 'female_dwarf.jpg' : 'dwarf.jpg';
          break;
        case 'troll':
          imageFileName = selectedGender === 'female' ? 'female_troll.jpg' : 'troll.jpg';
          break;
        case 'orc':
          imageFileName = selectedGender === 'female' ? 'female_orc.jpg' : 'orc.jpg';
          break;
        case 'goblin':
          imageFileName = selectedGender === 'female' ? 'female_goblin.jpg' : 'goblin.jpg';
          break;
        case 'morvandir':
          imageFileName = selectedGender === 'female' ? 'female_morvandir.jpg' : 'morvandir.jpg';
          break;
      }

      var imagePath = '/assets/races/' + imageFileName;
      imagePreview.attr('src', imagePath);

      switch(selectedRace) {
        case 'human':
          raceDescription.text('Diverse, ambitious, adaptable. Passion drives progress, while kindness battles cruelty.');
          break;
        case 'elf':
          raceDescription.text('Known for their grace, wisdom and knowledge, power is what they seek above all.');
          break;
        case 'dwarf':
          raceDescription.text('Durable and loyal, they live to protect their kingdom and allies.');
          break;
        case 'troll':
          raceDescription.text('Rugged, loyal defenders of nature. Strong and fierce, they uphold ancient traditions.');
          break;
        case 'orc':
          raceDescription.text('Powerful conquerors. They are ruthless and show no mercy, even to their own kind.');
          break;
        case 'goblin':
          raceDescription.text('Crafty tricksters, masters of opportunity. Small yet ambitious, they thrive on ingenuity.');
          break;
        case 'morvandir':
          raceDescription.text('Forsaken by their origins, they wield dark powers and keep their secrets veiled in the shadows.');
          break;
      }
      $('#raceDisplay').text(selectedRace.charAt(0).toUpperCase() + selectedRace.slice(1));
    }

    function updateClassDescription(selectedClass) {
      switch(selectedClass) {
        case 'warrior':
          classDescription.text('Masters of combat, honed strength, and resilience.');
          break;
        case 'mage':
          classDescription.text('Weavers of arcane, bending reality with spells..');
          break;
        case 'rogue':
          classDescription.text('Agile tricksters, navigating shadows with finesse.');
          break;
        case 'paladin':
          classDescription.text('Champions of virtue, wielding righteousness in battle.');
          break;
        case 'deathwalker':
          classDescription.text("Embracers of decay, feeding on life's essence to wield death's unyielding power.");
          break;
        case 'warlock':
          classDescription.text('Dark disciples of forbidden magics, bound by pacts to powerful Demons.');
          break;
      }
      $('#classDisplay').text(selectedClass.charAt(0).toUpperCase() + selectedClass.slice(1));
    }

    updateClassDescription(selectedClass);
    
    updateRaceImage(selectedRace, selectedGender);

$('#maleButton').click(function() {
  selectedGender = 'male';
  $('#selectedGender').val(selectedGender);
  updateRaceImage(selectedRace, selectedGender);
});

$('#femaleButton').click(function() {
  selectedGender = 'female';
  $('#selectedGender').val(selectedGender);
  updateRaceImage(selectedRace, selectedGender);
});

$('#prevRace').click(function() {
  currentRaceIndex = (currentRaceIndex - 1 + races.length) % races.length;
  selectedRace = races[currentRaceIndex];
  $('#selectedRace').val(selectedRace);
  updateRaceImage(selectedRace, selectedGender);
});

$('#nextRace').click(function() {
  currentRaceIndex = (currentRaceIndex + 1) % races.length;
  selectedRace = races[currentRaceIndex];
  $('#selectedRace').val(selectedRace);
  updateRaceImage(selectedRace, selectedGender);
});

$('#prevClass').click(function() {
  currentClassIndex = (currentClassIndex - 1 + classes.length) % classes.length;
  selectedClass = classes[currentClassIndex];
  $('#selectedClass').val(selectedClass);
  updateClassDescription(selectedClass);
});

$('#nextClass').click(function() {
  currentClassIndex = (currentClassIndex + 1) % classes.length;
  selectedClass = classes[currentClassIndex];
  $('#selectedClass').val(selectedClass);
  updateClassDescription(selectedClass);
});
  });
</script>
