<div class="card text-left" style="width: 800px; height: auto; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;">
  <div class="card-body">
    <h4 class="card-header text-center text-white bg-primary" style="width: 200px; margin: 0 auto; margin-bottom: 20px;">Inventory</h4>
    <div class="inventory-grid text-center" style="display: grid; grid-template-columns: repeat(5, 1fr);">
      <% (1..10).each do |index| %>
        <div class="row justify-content-center">
          <% item = @selected_character.inventory.items[index - 1] %>
          <% if item %>
            <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= item.id %>)" onmouseover="showTooltip(<%= item.id %>)" onmouseout="hideTooltip(<%= item.id %>)">
              <!-- Tooltip content -->
              <%= display_item_tooltip(item) %>
              <!-- Item Image -->
              <%= image_tag(item.item_image, style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888;') %>
              <% if current_page?(items_path) || (controller_name == 'characters' && action_name == 'thaumaturge') %>
                <%= form_with(model: @selected_character, url: sell_item_character_path(@selected_character, item), method: :post, local: true, params: { item_id: item.id }) do |form| %>
                  <%= form.button "Sell", class: "btn btn-outline-danger btn-sm mt-1 mb-1", style:"width: 100px;", id:"sellButton#{item.id}"%>
                  <script>
                    // JavaScript code to show gold price on hover
                    document.getElementById('sellButton<%= item.id %>').addEventListener('mouseover', function() {
                      this.innerText = '+ <%= number_with_delimiter((item.gold_price * 0.65).round) %>';
                    });
                  
                    document.getElementById('sellButton<%= item.id %>').addEventListener('mouseout', function() {
                      this.innerText = 'Sell';
                    });
                  </script>
                <% end %>
              <% elsif ["Healing Potion", "Elixir"].include?(item.item_type) %>
                <%= form_with(model: @selected_character, url: use_elixir_character_path(@selected_character, item), method: :post, local: true, params: { item_id: item.id }) do |form| %>
                  <%= form.button "Use", class: "btn btn-outline-primary btn-sm mt-1 mb-1", style:"width: 100px;" %>
                <% end %>
              <% else %>
                <%= form_with(model: @selected_character, url: equip_item_character_path(@selected_character, item), method: :post, local: true, params: { item_id: item.id }) do |form| %>
                  <%= form.button "Equip", class: "btn btn-outline-primary btn-sm mt-1 mb-1", style:"width: 100px;" %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <!-- Empty card content -->
            <div>
              <span class="mb-5" style="display: inline-block; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>