<!-- Character Info Card -->
<div class="mt-5 mx-auto">
  <div class="card text-center" style="width: 800px; height: auto; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;" id="character-profile-display">
    <div class="card-body">
      <div class="row no-gutters">
        <!-- Left column with helmet, chest, hands, and feet -->
        <div class="col-md-3">

          <% head_item = @character.head %>
          <% if head_item.present? %>
          <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= head_item.id %>)" onmouseover="showTooltip(<%= head_item.id %>)" onmouseout="hideTooltip(<%= head_item.id %>)">
              <!-- Tooltip content -->
              <%= display_item_tooltip(head_item) %>
              <!-- Item Image -->
              <%= image_tag(head_item.item_image, alt: "head_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;') %>
            </div>
          <% else %>
            <!-- Empty card content -->
            <span style="display: inline-block; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
          <% end %>

          <% chest_item = @character.chest %>
          <% if chest_item.present? %>
          <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= chest_item.id %>)" onmouseover="showTooltip(<%= chest_item.id %>)" onmouseout="hideTooltip(<%= chest_item.id %>)">
              <!-- Tooltip content -->
              <%= display_item_tooltip(chest_item) %>
              <!-- Item Image -->
              <%= image_tag(chest_item.item_image, alt: "chest_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;') %>
            </div>
          <% else %>
            <!-- Empty card content -->
            <span style="display: inline-block; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
          <% end %>

          <% hands_item = @character.hands %>
          <% if hands_item.present? %>
          <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= hands_item.id %>)" onmouseover="showTooltip(<%= hands_item.id %>)" onmouseout="hideTooltip(<%= hands_item.id %>)">
              <!-- Tooltip content -->
              <%= display_item_tooltip(hands_item) %>
              <!-- Item Image -->
              <%= image_tag(hands_item.item_image, alt: "hands_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;') %>
            </div>
          <% else %>
            <!-- Empty card content -->
            <span style="display: inline-block; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
          <% end %>

          <% feet_item = @character.feet %>
          <% if feet_item.present? %>
          <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= feet_item.id %>)" onmouseover="showTooltip(<%= feet_item.id %>)" onmouseout="hideTooltip(<%= feet_item.id %>)">
              <!-- Tooltip content -->
              <%= display_item_tooltip(feet_item) %>
              <!-- Item Image -->
              <%= image_tag(feet_item.item_image, alt: "feet_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;') %>
            </div>
          <% else %>
            <!-- Empty card content -->
            <span style="display: inline-block; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
          <% end %>

        </div>

        <!-- Character details-->
        <div class="col text-center">
          <div style="position: relative; max-width: 100%;">
            <%= image_tag(@character.race_image, style: 'width:370px; height:auto; border: 5px solid #000; box-shadow: 2px 2px 10px #888888;', class: 'card-img-top', alt: "character_image") %>
            <div style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 90%; text-align: center;">
              <h5 style=" color: white; font-size: 22px; font-weight: bold; text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;"> <%= @character.character_name %></h5>
              <% if @character.guild.present? %>
                <h5 style=" color: white; font-size: 22px; font-weight: bold; text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;"> < <%= @character.guild.name %> ></h5>    
              <% end %>
            </div>
          </div>
            <% current_experience = @character.experience %>
            <% required_experience = @character.required_experience_for_next_level %>
            <% progress_percentage = (current_experience.to_f / required_experience) * 100 %>
            <% if @character.level < 100 %>
              <div class="progress" style="height: 20px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; position: relative;" data-tooltip="tooltip" data-placement="bottom" title="<%= current_experience %> / <%= required_experience %> EXP (<%= progress_percentage.to_i %>%)">
                <div class="progress-bar bg-success" role="progressbar" style="width: <%= progress_percentage %>%;"></div>
                <h6 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><%=@character.race.capitalize%> <%=@character.character_class.capitalize%> Level <%=@character.level%></h6>
              </div>
            <% else %>
              <div class="progress" style="height: 20px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; position: relative;" data-tooltip="tooltip" data-placement="bottom" title="<%= current_experience %> / <%= required_experience %> EXP (<%= progress_percentage.to_i %>%)">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%= progress_percentage %>%;"></div>
                <h6 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><%=@character.race.capitalize%> <%=@character.character_class.capitalize%> Level <%=@character.level%></h6>
              </div>
            <% end %>
            <div style="margin-top:3px;">
              <% if @character.user_id == current_user.id %>
                <% if @character.skill_points == 1 %>
                  <span class="d-inline-block">
                    <strong class="badge rounded-pill bg-warning" style="color: black;">
                      <small>You have 1 Talent point</small>
                    </strong>
                  </span>
                <% elsif @character.skill_points > 1 %>
                  <span class="d-inline-block">
                    <strong class="badge rounded-pill bg-warning" style="color: black;">
                      <small>You have <%= @character.skill_points %> Talent points</small>
                    </strong>
                  </span>
                <% end %>
              <% end %>

              <% if @character.paragon_points == 1 %>
                <span class="d-inline-block">
                  <strong class="badge rounded-pill bg-info" style="color: black;">
                    <small>You have 1 Paragon point</small>
                  </strong>
                </span>
              <% elsif @character.paragon_points > 1 %>
                <span class="d-inline-block">
                  <strong class="badge rounded-pill bg-info" style="color: black;">
                    <small>You have <%= @character.paragon_points %> Paragon points</small>
                  </strong>
                </span>
              <% end %>
            </div>
        </div>

        <!-- Right column with amulet, waist, finger1, and finger2 -->
        <div class="col-md-3">

          <% neck_item = @character.neck %>
          <% if neck_item.present? %>
          <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= neck_item.id %>)" onmouseover="showTooltip(<%= neck_item.id %>)" onmouseout="hideTooltip(<%= neck_item.id %>)">
              <!-- Tooltip content -->
              <%= display_item_tooltip(neck_item) %>
              <!-- Item Image -->
              <%= image_tag(neck_item.item_image, alt: "neck_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;') %>
            </div>
          <% else %>
            <!-- Empty card content -->
            <span style="display: inline-block; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
          <% end %>

          <% waist_item = @character.waist %>
          <% if waist_item.present? %>
          <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= waist_item.id %>)" onmouseover="showTooltip(<%= waist_item.id %>)" onmouseout="hideTooltip(<%= waist_item.id %>)">
              <!-- Tooltip content -->
              <%= display_item_tooltip(waist_item) %>
              <!-- Item Image -->
              <%= image_tag(waist_item.item_image, alt: "waist_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;') %>
            </div>
          <% else %>
            <!-- Empty card content -->
            <span style="display: inline-block; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
          <% end %>
          
          <% finger1_item = @character.finger1 %>
          <% if finger1_item.present? %>
          <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= finger1_item.id %>)" onmouseover="showTooltip(<%= finger1_item.id %>)" onmouseout="hideTooltip(<%= finger1_item.id %>)">
              <!-- Tooltip content -->
              <%= display_item_tooltip(finger1_item) %>
              <!-- Item Image -->
              <%= image_tag(finger1_item.item_image, alt: "finger1_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;') %>
            </div>
          <% else %>
            <!-- Empty card content -->
            <span style="display: inline-block; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
          <% end %>

          <% finger2_item = @character.finger2 %>
          <% if finger2_item.present? %>
          <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= finger2_item.id %>)" onmouseover="showTooltip(<%= finger2_item.id %>)" onmouseout="hideTooltip(<%= finger2_item.id %>)">
              <!-- Tooltip content -->
              <%= display_item_tooltip(finger2_item) %>
              <!-- Item Image -->
              <%= image_tag(finger2_item.item_image, alt: "finger2_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;') %>
            </div>
          <% else %>
            <!-- Empty card content -->
            <span style="display: inline-block; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
          <% end %>
        </div>

        <!-- Main Hand and Off Hand Slots -->
        <div class="container">
          
          <div class="row justify-content-center">

            <% main_hand_item = @character.main_hand %>
            <% if main_hand_item.present? %>
            <div class="hover-item col-2 text-center" onmousemove="updateTooltipPosition(event, <%= main_hand_item.id %>)" onmouseover="showTooltip(<%= main_hand_item.id %>)" onmouseout="hideTooltip(<%= main_hand_item.id %>)">
                <!-- Tooltip content -->
                <%= display_item_tooltip(main_hand_item) %>
                <!-- Item Image -->
                <%= image_tag(main_hand_item.item_image, alt: "main_hand_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888;') %>
              </div>
            <% else %>
              <!-- Empty card content -->
              <span style="display: inline-block; margin-left: 15.66px; margin-right: 15.66px; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
            <% end %>
              
            <% off_hand_item = @character.off_hand %> 
            <% if off_hand_item.present? %>
            <div class="hover-item col-2 text-center" onmousemove="updateTooltipPosition(event, <%= off_hand_item.id %>)" onmouseover="showTooltip(<%= off_hand_item.id %>)" onmouseout="hideTooltip(<%= off_hand_item.id %>)">
                <!-- Tooltip content -->
                <%= display_item_tooltip(off_hand_item) %>
                <!-- Item Image -->
                <%= image_tag(off_hand_item.item_image, alt: "off_hand_item", style: 'width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888;') %>
              </div>
            <% else %>
              <!-- Empty card content -->
              <span style="display: inline-block; margin-left: 15.66px; margin-right: 15.66px; width: 100px; height: 100px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; background-color: lightgrey;"></span>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

    <!-- Character stats card -->
    <div class="card text-center mt-1" style="border: 2px solid #000; box-shadow: 5px 5px 10px #888888; width: 800px;" id="character-stats-display">
      <div class="card-body">
        <div class="row no-gutters">

          <!-- Left column -->
          <div class="col-md-4">
            <div class="text-center">
              <h4 class="card-header text-white bg-primary" style="width: 200px; margin: 0 auto; margin-bottom: -15px">General</h4><br>
              <span data-tooltip="tooltip" title="Total amount of Health"><strong>Health:</strong> <%= number_with_delimiter(@character.total_health) %> / <%= number_with_delimiter(@character.total_max_health) %></span><br>
                <% if (@character.neck.present? && @character.neck.name == "The Nexus") %>
                  <span data-tooltip="tooltip" title="Physical damage"><strong>Attack:</strong> <%= @character.total_max_attack %></span>              
                  <% @character.active_elixir_ids.each do |elixir_id| %>
                    <% elixir = Item.find(elixir_id) %>
                    <% if elixir.name == "Elixir of Might" %>
                      <span data-tooltip="tooltip" title="Elixir of Might" class="text-success"><%= " +#{number_with_delimiter(@character.elixir_attack)}" %></span>              
                    <% end %>
                  <% end %>
                  <br>
                  <span data-tooltip="tooltip" title="Magic damage"><strong>Spellpower:</strong> <%= @character.total_max_spellpower %></span>
                  <% @character.active_elixir_ids.each do |elixir_id| %>
                    <% elixir = Item.find(elixir_id) %>
                    <% if elixir.name == "Elixir of Power" %>
                      <span data-tooltip="tooltip" title="Elixir of Power" class="text-success"><%= " +#{number_with_delimiter(@character.elixir_spellpower)}" %></span>
                    <% end %>
                  <% end %> 
                  <br>             
                  <span data-tooltip="tooltip" title="Shadow damage"><strong>Necrosurge:</strong> <%= @character.total_max_necrosurge %></span>
                  <% @character.active_elixir_ids.each do |elixir_id| %>
                    <% elixir = Item.find(elixir_id) %>
                    <% if elixir.name == "Elixir of Decay" %>
                      <span data-tooltip="tooltip" title="Elixir of Decay" class="text-success"><%= " +#{number_with_delimiter(@character.elixir_necrosurge)}" %></span>
                    <% end %>
                  <% end %>  
                <% else %>
                  <% average_attack = (@character.total_min_attack + @character.total_max_attack) / 2 %>
                  <span data-tooltip="tooltip" title="Physical damage"><strong>Attack:</strong> <%= @character.total_min_attack %> - <%= @character.total_max_attack %> <small class="text-muted">(~<%= number_with_delimiter(average_attack) %>)</small></span>              
                  <% @character.active_elixir_ids.each do |elixir_id| %>
                    <% elixir = Item.find(elixir_id) %>
                    <% if (elixir.name == "Elixir of Might").present? %>
                      <span data-tooltip="tooltip" title="Elixir of Might" class="text-success"><%= " +#{number_with_delimiter(@character.elixir_attack)}" %></span>              
                    <% end %>
                  <% end %>
                  <br>
                  <% average_spellpower = (@character.total_min_spellpower + @character.total_max_spellpower) / 2 %>
                  <span data-tooltip="tooltip" title="Magic damage"><strong>Spellpower:</strong> <%= @character.total_min_spellpower %> - <%= @character.total_max_spellpower %> <small class="text-muted">(~<%= number_with_delimiter(average_spellpower) %>)</small></span>
                  <% @character.active_elixir_ids.each do |elixir_id| %>
                    <% elixir = Item.find(elixir_id) %>
                    <% if (elixir.name == "Elixir of Power").present? %>
                      <span data-tooltip="tooltip" title="Elixir of Power" class="text-success"><%= " +#{number_with_delimiter(@character.elixir_spellpower)}" %></span>
                    <% end %>
                  <% end %> 
                  <br>             
                  <% average_necrosurge = (@character.total_min_necrosurge + @character.total_max_necrosurge) / 2 %>
                  <span data-tooltip="tooltip" title="Shadow damage"><strong>Necrosurge:</strong> <%= @character.total_min_necrosurge %> - <%= @character.total_max_necrosurge %> <small class="text-muted">(~<%= number_with_delimiter(average_necrosurge) %>)</small></span>
                  <% @character.active_elixir_ids.each do |elixir_id| %>
                    <% elixir = Item.find(elixir_id) %>
                    <% if (elixir.name == "Elixir of Decay").present? %>
                      <span data-tooltip="tooltip" title="Elixir of Decay" class="text-success"><%= " +#{number_with_delimiter(@character.elixir_necrosurge)}" %></span>
                    <% end %>
                  <% end %>
                <% end %>
              <br>
              <span data-tooltip="tooltip" title="Chance to Critically Strike"><strong>Critical Strike Chance:</strong> <%= number_with_precision(@character.total_critical_strike_chance, precision: 2)%>%</span><br>
              <span data-tooltip="tooltip" title="Increases the damage of your Critical Strikes"><strong>Critical Strike Damage:</strong> <%= number_with_precision(@character.total_critical_strike_damage * 100, precision: 2) %>%</span><br>
              <span data-tooltip="tooltip" title="Increases your damage dealt"><strong>Global Damage:</strong> <%= number_with_precision(@character.total_global_damage * 100, precision: 2) %>%</span><br>
              <span data-tooltip="tooltip" title="Reduces physical damage taken"><strong>Armor: </strong><%= number_with_delimiter(@character.total_armor - @character.elixir_armor) %></span>
              <% @character.active_elixir_ids.each do |elixir_id| %>
                <% elixir = Item.find(elixir_id) %>
                <% if (elixir.name == "Elixir of Fortitude").present? %>
                  <span data-tooltip="tooltip" title="Elixir of Fortitude" class="text-success"><%= " +#{number_with_delimiter(@character.elixir_armor)}" %></span>
                <% end %>
              <% end %>
              <br>
              <span data-tooltip="tooltip" title="Reduces magic damage taken"><strong>Magic Resistance:</strong> <%=number_with_delimiter(@character.total_magic_resistance - @character.elixir_magic_resistance)%></span>
              <% @character.active_elixir_ids.each do |elixir_id| %>
                <% elixir = Item.find(elixir_id) %>
                <% if (elixir.name == "Elixir of Knowledge").present? %>
                  <span data-tooltip="tooltip" title="Elixir of Knowledge" class="text-success"><%= " +#{number_with_delimiter(@character.elixir_magic_resistance)}" %></span>
                <% end %>
              <% end %>
              <br>              
              <span data-tooltip="tooltip" title="Evading an attack will allow you to not take damage"><strong>Chance to Evade:</strong> <%= number_with_precision(@character.evasion, precision: 2)%>%</span><br>
              <span data-tooltip="tooltip" title="Ignoring pain will reduce incoming damage by 20%"><strong>Chance to Ignore Pain:</strong> <%= number_with_precision(@character.ignore_pain_chance, precision: 2)%>%</span><br>
            </div>
          </div>

          <!-- Middle column -->
          <div class="col-md-4">
            <div class="text-center" style=" height:240px;">
              <h4 class="card-header text-white bg-primary" style="width: 200px; margin: 0 auto; margin-bottom: -15px">Attributes</h4><br>
              <span data-tooltip="tooltip" title="Increases physical damage"><strong>Strength:</strong> <%= number_with_delimiter(@character.strength) %></span><br>
              <span data-tooltip="tooltip" title="Increases magic damage"><strong>Intelligence:</strong> <%= number_with_delimiter(@character.intelligence) %></span><br>
              <span data-tooltip="tooltip" title="Increases shadow damage"><strong>Dreadmight:</strong> <%= number_with_delimiter(@character.dreadmight) %></span><br>
              <span data-tooltip="tooltip" title="Increases your chance to evade damage"><strong>Agility:</strong> <%= number_with_delimiter(@character.agility) %></span><br>
              <span data-tooltip="tooltip" title="Increases your Critical Strike Chance"><strong>Luck:</strong> <%= number_with_delimiter(@character.luck) %></span><br>
              <span data-tooltip="tooltip" title="Increases your chance to Ignore Pain"><strong>Willpower:</strong> <%= number_with_delimiter(@character.willpower) %></span><br>
            </div>

            <div class="text-center mt-3 mb-3">
              <h4 class="card-header text-white bg-primary" style="width: 200px; margin: 0 auto; margin-bottom: -15px">Elixirs</h4><br>
              <div class="d-flex justify-content-center">
                <% if @character.active_elixir_ids.present? %>
                  <% @character.active_elixir_ids.each do |elixir_id| %>
                    <% elixir = Item.find_by(id: elixir_id) %>
                    <div class="mx-2">
                      <div class="hover-item" onmousemove="updateTooltipPosition(event, <%= elixir.id %>)" onmouseover="showTooltip(<%= elixir.id %>)" onmouseout="hideTooltip(<%= elixir.id %>)" style="width: 50px; height: 50px">
                        <!-- Tooltip content -->
                        <%= display_item_tooltip(elixir) %>
                        <!-- Item Image -->
                        <%= image_tag(elixir.item_image, alt: "elixir", style: 'width: 50px; height: 50px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;') %>
                        <p class="countdown-text" style="font-size: 13px" data-expiration-time="<%= @character.remaining_elixir_time(elixir)[:expiration_time] %>">
                          <%= "#{format_duration(@character.remaining_elixir_time(elixir)[:remaining_time])}" %>
                        </p>
                          <script>
                            function updateCountdown() {
                              var countdownElements = document.querySelectorAll('.countdown-text');
                              countdownElements.forEach(function(element) {
                                var expirationTime = parseInt(element.getAttribute('data-expiration-time')) * 1000;
                                var remainingTime = expirationTime - Date.now();

                                if (remainingTime > 0) {
                                  element.innerHTML = formatDuration(remainingTime / 1000); // convert back to seconds for the format function
                                } else {
                                  element.innerHTML = 'Expired';
                                }
                              });
                            }

                            function formatDuration(seconds) {
                              var hours = Math.floor(seconds / 3600);
                              var minutes = Math.floor((seconds % 3600) / 60);
                              var seconds = (seconds % 60).toFixed(0); // Round to 0 decimal places

                              return `${hours}:${minutes}:${seconds}`;
                            }

                            // Initial update
                            updateCountdown();

                            // Update every second
                            setInterval(updateCountdown, 1000);
                          </script>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <p>No elixir active.</p>
                <% end %>
              </div>
              
            </div>
          
          </div>

          <!-- Right column -->
          <div class="col-md-4">
            <div class="text-center" style=" height:240px;">
              <h4 class="card-header text-white bg-primary" style="width: 200px; margin: 0 auto; margin-bottom: -15px">Talents</h4><br>
              <% if @skills.any?(&:unlocked) %>
                <div class="row" style="padding-right: 15px; padding-left: 15px;">
                  <% @skills.each do |skill| %>
                    <% if skill.unlocked %>
                      <div class="col-md-6">
                        <div>
                          <span data-tooltip="tooltip" title="<%= skill.description %>">
                            <%= image_tag skill.skill_image, style: 'width: 50px; height: 50px; border: 2px solid #000; box-shadow: 2px 2px 10px #888888; margin-bottom: 5px;' %>
                          </span>
                          <p style="margin-top: -5px; font-size:12px"><small><%= skill.name %></small></p>
                          <p style="font-size:11px; margin-top:-22px; margin-bottom: 15px"><small><%= skill.skill_type&.capitalize %></small></p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <p>No talent unlocked.</p>
              <% end %>
            </div>

            <div class="text-center mt-3">
              <h4 class="card-header text-white bg-primary" style="width: 200px; margin: 0 auto;">Placeholder</h4><br>
            </div>

          </div>
        </div>
      </div>
    </div>
        <%= form_with(url: gain_experience_character_path(@character), method: :post) do |form| %>
          <%= form.hidden_field :amount, value: 20000000 %>
          <%= form.hidden_field :gold_reward, value: 1000000 %>
          <%= form.submit "20000000 XP and 1000000 Gold" %>
        <% end %>
    </div>



  <div class="container mt-5">
    <div class="card text-left" style="width: 800px; height: auto; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;">
      <div class="card-body">
        <div class="card" id="characterDescriptionCard" style="border: 2px solid #333; padding: 10px; height:200px; ">
          <p class="card-text" id="characterDescriptionText">That hero might be too busy saving the world to update their description...</p>
        </div>
      </div>
    </div>
    <% opponent = Character.find(params[:id]) %>
    <% if opponent && current_user.selected_character.present? && opponent != current_user.selected_character %>
      <div class="mt-1">
        <div class="card text-center mx-auto" style="width: 800px; height: 80px; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;">
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col mx-auto">
                <div class="text-center">
                    <%= form_tag combat_character_path(@character), method: :post do %>
                        <%= hidden_field_tag :opponent_id, opponent.id %>
                        <%= hidden_field_tag :character_id, current_user.selected_character.id %>
                        <%= submit_tag 'Attack', class: "btn btn-outline-danger" %>
                    <% end %>
                </div>
              </div>
              <div class="col">
                <div class="text-center">
                  <p class= "btn btn-outline-success"> Add as Ally </p>
                </div>
              </div>
              <div class="col">
                <div class="text-center">
                  <p class= "btn btn-outline-primary"> Guild Invite </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="mt-1">
      <div class="mx-auto" id="character-inventory-display">
        <% if current_user.present? && @character.user_id == current_user.id && current_user.selected_character.present? && current_user.selected_character.id == @character.id %>
          <!-- Inventory card -->
          <%= render partial: 'inventory', locals: { character: @character } %>
        <% end %>
      </div>
    </div>

    <!-- Third modal -->
    <div class="modal" style="margin-top: 150px; margin-left: 280px" id="tutorialModal3" role="dialog" aria-labelledby="tutorialModal3Label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content card text-center" style="width: auto; height: 300px; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;">
          <h5 class="mx-auto mt-2">Tutorial</h5>
            <div class="modal-body">
              <p>
              This is the character profile page. 
              <br>
              Here you'll find all the informations about a character's items and global informations.
              <br>
              You can also hover on the experience bar to know exactly how much experience a character has.</p>
              <br>
              <button type="button" class="btn btn-outline-primary mb-1" style= "position: absolute; bottom: 0; left: 90%; transform: translateX(-50%);" id="closeModal3">Next</button>
            </div>
        </div>
      </div>
    </div>

    <!-- Fourth modal -->
    <div class="modal" style="margin-top: 620px; margin-left: 280px" id="tutorialModal4" role="dialog" aria-labelledby="tutorialModal4Label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content card text-center" style="width: auto; height: 300px; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;">
          <h5 class="mx-auto mt-2">Tutorial</h5>
            <div class="modal-body">
              <p>
              Here you'll find more details about a character. 
              <br>
              For exemple, its stats and talents.
              <br>
              This is especially useful when deciding whether or not to attack another player.</p>
              <br>
              <button type="button" class="btn btn-outline-primary mb-1" style= "position: absolute; bottom: 0; left: 90%; transform: translateX(-50%);" id="closeModal4">Next</button>
            </div>
        </div>
      </div>
    </div>

    <!-- Fifth modal -->
    <div class="modal" style="margin-top: 430px; margin-left: -280px" id="tutorialModal5" role="dialog" aria-labelledby="tutorialModal5Label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content card text-center" style="width: auto; height: 300px; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;">
          <h5 class="mx-auto mt-2">Tutorial</h5>
            <div class="modal-body">
              <p>
              Here is your inventory.
              <br>
              You can hold up to 10 items at the same time and it's only visible for your characters.
              <br>
              <button type="button" class="btn btn-outline-primary mb-1" style= "position: absolute; bottom: 0; left: 90%; transform: translateX(-50%);" id="closeModal5">Next</button>
            </div>
        </div>
      </div>
    </div>

    <!-- Sixth modal -->
    <div class="modal" style="margin-top: 50px;" id="tutorialModal6" role="dialog" aria-labelledby="tutorialModal6Label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content card text-center" style="width: auto; height: 300px; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;">
          <h5 class="mx-auto mt-2">Tutorial</h5>
            <div class="modal-body">
              <p>
              This is your character's resources.
              <br>
              You'll find your character's gold, energy, daily quests count and arena tickets.
              <br>
              This will be displayed on all pages as long as you have a character selected, so you can keep track of your resources at all times.
              <br>
              <button type="button" class="btn btn-outline-primary mb-1" style= "position: absolute; bottom: 0; left: 90%; transform: translateX(-50%);" id="closeModal6">Next</button>
            </div>
        </div>
      </div>
    </div>

    <!-- Seventh modal -->
    <div class="modal" style="margin-top: 10px; margin-left: -600px" id="tutorialModal7" role="dialog" aria-labelledby="tutorialModal7Label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content card text-center" style="width: auto; height: 100px; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;">
          <h5 class="mx-auto mt-2">Tutorial</h5>
            <div class="modal-body">
              <p>
              And finally let's take a quick look at the menu and its navigation.
              <br>
            </div>
        </div>
      </div>
    </div>

    <!-- Eighth modal -->
    <div class="modal" style="margin-top: 10px; margin-left: -600px" id="tutorialModal8" role="dialog" aria-labelledby="tutorialModal8Label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content card text-center" style="width: 700px; height: 600px; border: 2px solid #000; box-shadow: 5px 5px 10px #888888;">
          <h5 class="mx-auto mt-2">Tutorial</h5>
            <div class="modal-body">
              <p>
              On this menu you'll find different links;
              <br>
              <br>
              - <strong>Select Character</strong> : This brings you back to the character selection page, in case you want to switch characters.
              <br>
              - <strong>Profile</strong> : This is the current page, it will bring you to your selected character's profile.
              <br>
              - <strong>Talents</strong> : Your character's talent and paragon boards, when you aquire a talent point or a paragon point you spend them on this page.
              <br>
              - <strong>Hunt</strong> : You can accept hunts there, a quick way to earn experience and gold.
              <br>
              - <strong>Merchant</strong> : Here the merchant will offer you a limited amount of items every day and you can buy them with gold.
              <br>
              - <strong>Leaderboard</strong> : The leaderboard displays the rankings of characters in the arena, you can also access a character's profile from this page.
              <br>
              <br>
              Feel free to navigate through the game and familiarise yourself with the interface and may the Tedorha Gods bless your journey!</p>
              <br>
              <button type="button" class="btn btn-outline-primary mb-1" style= "position: absolute; bottom: 0; left: 90%; transform: translateX(-50%);" id="closeModal8">Complete</button>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  // Check if select_character_tutorial is true on page load
  $(document).ready(function () {
    if (localStorage.getItem('user_tutorial') === 'true') {
      // Exit the script if the user tutorial is completed
      return;
    }
    
      if (localStorage.getItem('select_character_tutorial') === 'true') {
        $('#tutorialModal3').modal('show');
        $('#character-profile-display').addClass('on-top');
      }

      // Close Modal 3
      $('#closeModal3').on('click', function () {
        $('#tutorialModal3').modal('hide');
        $('#character-profile-display').removeClass('on-top');
        // Open Modal 4
        $('#tutorialModal4').modal('show');
        $('#character-stats-display').addClass('on-top');
      });

      // Close Modal 4
      $('#closeModal4').on('click', function () {
        $('#tutorialModal4').modal('hide');
        $('#character-stats-display').removeClass('on-top');
        // Open Modal 5
        $('#tutorialModal5').modal('show');
        $('#character-inventory-display').addClass('on-top');
      });

      // Close Modal 5
      $('#closeModal5').on('click', function () {
        $('#tutorialModal5').modal('hide');
        $('#character-inventory-display').removeClass('on-top');
        // Open Modal 6
        $('#tutorialModal6').modal('show');
        $('#character-resources-display').addClass('on-top');
      });

      // Close Modal 6
      $('#closeModal6').on('click', function () {
        $('#tutorialModal6').modal('hide');
        $('#character-resources-display').removeClass('on-top');
        // Open Modal 7
        $('#tutorialModal7').modal('show');
        $('#menuButton').addClass('on-top').removeClass('btn-outline-primary').addClass('btn-primary');
      });

      // Close Modal 7
      $('#menuButton').on('click', function () {
        // Check if the user tutorial is not completed
          // Hide Modal 7 first
          $('#tutorialModal7').modal('hide');
          // Remove 'on-top' and 'btn-primary' classes from #menuButton
          $('#menuButton').removeClass('on-top').removeClass('btn-primary').addClass('btn-outline-primary');
          // Open Modal 8
          $('#tutorialModal8').modal('show');
          // Add 'on-top' class to #mySidenav
          $('#mySidenav').addClass('on-top');
      });

      // Close Modal 8
      $('#closeModal8').on('click', function () {
        $('#tutorialModal8').modal('hide');
        $('#mySidenav').removeClass('on-top');

        localStorage.setItem('user_tutorial', 'true');
        location.reload();
      });
  });
</script>

<script>
    $(document).ready(function() {
      $('form[data-confirm]').submit(function() {
        return confirm($(this).data('confirm'));
      });
    });
</script>

<script>
  $(function () {
    $('[data-tooltip="tooltip"]').tooltip({
      template: '<div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>',
      delay: { "show": 500, "hide": 100 },
      trigger: 'hover'
    });
  });
</script>

<script>
  function showTooltip(itemId) {
    const tooltip = document.getElementById(`tooltip_${itemId}`);
    if (tooltip) tooltip.style.display = 'block';
  }

  function hideTooltip(itemId) {
    const tooltip = document.getElementById(`tooltip_${itemId}`);
    if (tooltip) tooltip.style.display = 'none';
  }

  function updateTooltipPosition(event, itemId) {
    const tooltip = document.getElementById(`tooltip_${itemId}`);
    const offset = 10;
    const x = event.clientX + offset;
    const y = event.clientY + offset;

    // Check if the cursor is in the bottom half of the page
    const isBottomHalf = event.clientY > window.innerHeight / 2;

    // Adjust the tooltip position based on the cursor's location
    if (isBottomHalf) {
      tooltip.style.left = `${x}px`;
      tooltip.style.bottom = `${window.innerHeight - y}px`;
      tooltip.style.top = ''; // Reset top property
    } else {
      tooltip.style.left = `${x}px`;
      tooltip.style.top = `${y}px`;
      tooltip.style.bottom = ''; // Reset bottom property
    }
  }
</script>